@import "./../../../scss/variables";

.register-as-page {
  padding: 20px 12px;
  box-shadow: 3px 3px 17px 0px #d3cdcd;
  border-radius: 10px;

  .form-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    column-gap: 45px;

    .add-btn,
    .remove-btn {
      font-size: 24px;
      font-weight: 500;
      padding: 0 10px;
    }

    .dynamic-no-input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      input {
        // margin-left: 20px;
      }
      gap: 15px;
    }

    .itinerary-block {
      .itinerary-inner {
        padding: 12px;
        background: #fff;
        border-radius: 5px;
        margin-bottom: 18px;
        position: relative;

        .remove-itinerary {
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(50%, -50%);

          button {
            background: $ty-primary;
            color: #fff;
            border-radius: 30px;
            padding: 6px;
            padding-top: 1px;
            padding-bottom: 0px;
            font-size: 12px;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .dynamic-no-input {
          margin-top: 8px;
        }
      }

      .itinerary-label {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin-bottom: 6px;
      }
      .ty-input {
        label {
          font-size: 10px;
        }
      }
    }
  }

  .submit-box {
    display: flex;
    justify-content: flex-end;

    button {
      border-radius: 4px;
      padding: 4px 20px;
    }
  }
}
.pickup-component {
  label {
    margin-bottom: 5px;
  }
  .async-select {
    & > div{
      border-radius: 13px;
    }
  }
}

.pickup-place-modal {
  // width: 70;
  .modal-lg {
    justify-content: center;
    .modal-content {
      width: 70%;
      div.modal-outer {
        padding: 15px;
        & :nth-child(1) {
        }
        .coord-block {
          margin-top: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          & > div {
            width: 50%;
          }
        }
        button {
          display: block;
          margin-left: auto;
          margin-top: 15px;
          border-radius: 5px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
}
