.layout-ty {
  .dashboard-sidebar {
    // width: 250px;
    .sidebar-width {

      //   width: 250px;
      position: relative;
    }
    .sidebar-body {
      a {
        text-decoration: none;
      }

      margin-top: 10px;
      .sidebar-item {
        font-weight: 500;
        // color: #86b817;
        color: #86b817;
        cursor: pointer;
      }
    }

    .sidebar-footer{
      position: absolute;
      bottom: 0;;
    }
  }
}
