.layout-ty {
  .dashboard-sidebar {
        // width: 250px;
    .sidebar-width {
    //   width: 250px;
    }
    .sidebar-body {
      margin-top: 10px;
      .sidebar-item {
        font-weight: 500;
        color: #86b817;
        cursor: pointer;
      }
    }
  }
}
